*
body{
	font-family: "STKaiti",华文楷体;
	margin: 0;
    background-color: #999;
    max-height: 986px;
	
}
.clock{
	font-family: 'Orbitron',sans-serif;
	font-size: 48px;
	color: #444;
	height: 106px;
	line-height: 106px;
	width:497px;
	background: white;
	text-align: right;
	position: relative;
	left: 1406px;
	top: -106px;

}

.logo{
	position: absolute;
	height: 106px;
}

li{
display: inline;
padding: 25px 40px 25px 40px;
height: 106px;

}

ul{
height:106px; 
line-height: 106px;
width:886px;
margin: 0;
text-shadow:4px 0px 4px #999;
font-size: 50px;
padding-left:120px;
background: white;
position: relative;
left: 400px;

}
#line{
	height: 2px;
	width: 1903px;
	background: #0c0c0c;
	position: relative;
	top:-106px;


}
footer{
	float: center;
	height: 180px;
	width: 1903px;
	text-align: center;
	background: white;
	position: relative;
	top: -115px;
}
p.foot{
	margin: 0;
	padding: 0;
	
}
#content1{
	display: none;
	color: #f8f8ff;
	margin: 0;
	position: relative;
	top: -120px;
}
#content2{
	display: none;
	color: #f8f8ff;
	position: relative;
	top: -100px;
}
#content3{
	display: none;
	position: relative;
	color: #f8f8ff;
	top:-108px;
	height: 1800px;

}
p{
	text-indent: 2em;
}
h2{
	margin: 0;
	margin-left: 2em;
}
#ny{
	text-align: center;
	position: relative;
	top: -106px;
}
p#para-title{
	float: left;
	width: 160px;
	margin: 0;
	zoom:1;
	overflow: hidden;
	font-size:24px; 
	font-family: Microsoft YaHei,SimHei,Verdana;
	border-left: 12px solid #f8f8ff;
}
#sheet{
	margin-left: 3em;
	font-size:18px;
}
table{
	border-collapse:collapse;
}
#sheet table,th,td{
	border: 2px solid #f8f8ff;
}
#sheet1{
	margin-left: 3em;
}
#pc1{
position: relative;
top: -650px;
margin-left: 514px;
}
#ny-mp4{
	width: 640px;
	position:relative;
	margin-left: 1220px;
	top:-1020px;
	font-size: 36px;
	text-align: center;
	
}
figure {
	position: relative;
	height: 360px;
	overflow: hidden;
	margin: 0;
}
figure img {
	opacity: 0.8;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	align-content: center;
}
figure figcaption p, h2, span div{
	transition: all 0.3s;
	webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
}
figcaption {
	position: absolute;
	top: 0;
	left: 0;
	color: #f8f8ff;
	font-family: "STFangsong",华文仿宋;
}

#pc{
	margin: 0;
	height: 800px;
	position: relative;
	top: -540px;
}
#pc1{
	position: relative;
	margin: 0;
	margin-left: 636px;
	top:-366px;
}
#pc1 figure img{
	border-radius: 20px 20px 0 0;
	border: 6px solid #f8f8ff;
}
#pc2{
	position: relative;
	margin: 0;
	top: -366px;
}
#pc2 figure img{
	border-radius: 20px 0 0 20px;
	border: 6px solid #f8f8ff;
	border-right: 0px;
}
#pc3{
    position: relative;
	margin: 0;
	top: -726px;
	margin-left: 966px;

}
#pc3 figure img{
	border-radius: 0 20px 0 0;
	border-right: 6px solid #f8f8ff;
    border-top: 6px solid #f8f8ff;
}
#pc4{
	position: relative;
	margin: 0;
	top: -726px;
}
#pc4 figure img{
	
	border-left: 6px solid #f8f8ff;
   }
#pc5{
	position: relative;
	margin: 0;
	top: -1086px;
	margin-left: 528px;
}
#pc6{
	position: relative;
    margin: 0;
    top: -1086px;
    margin-left: 321px;
    width: 327px;

}

#pc6 figure {
	border-bottom: 6px solid #f8f8ff;
   }




#pc7{
	position: relative;
	margin: 0;
	top: -1812px;
	margin-left: 1086px;
}
#pc7 figure img{
	
	border-right: 6px solid #f8f8ff;
   }

#pc8{
position: relative;
margin: 0;
width: 320px;
top: -1812px;

} 
#pc8 figure{
	border-radius: 0 0 0 20px;
	border-left: 6px solid #f8f8ff;
	border-bottom: 6px solid #f8f8ff;
}

#pc9{
	position: relative;
	margin: 0;
	width: 800px;
	top: -2178px;
	margin-left: 648px;
}
#pc9 figure{
    border-bottom: 6px solid #f8f8ff;
	}
#pc10{
	position: relative;
	margin: 0;
	width: 420px;
	top: -2544px;
	margin-left: 1068px;
}
#pc10 figure{
	border-top: 0;
    border-bottom: 6px solid #f8f8ff;
	}
#pc11{
	position: relative;
	margin: 0;
	width: 381px;
	top: -2910px;
	margin-left: 1444px;
}
#pc11 figure {
	
	border-radius: 0 0 20px 0;
	border-right: 6px solid #f8f8ff;
    border-bottom: 6px solid #f8f8ff;
	}

.nyou figcaption {
	width: 100%;
	height: 100%;
}
.nyou figcaption div {
	border: 2px solid #f8f8ff;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
    width: 400px;
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	opacity: 0;
}
.nyou:hover figcaption div {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	opacity: 1;
}
.nyou figcaption h2 {
	margin: 6% 0 0 15%;
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	opacity: 0;
}
.nyou figcaption p {
	margin: 2% 0 0 15%;
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	opacity: 0;
}
.nyou:hover figcaption h2 {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
.nyou:hover figcaption p {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	opacity: 1;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
}
.nyou img {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	opacity: 1;
}
.nyou:hover img {
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	opacity: 0.5;
}
.nyh figcaption {
	width: 100%;
	height: 100%;
}
.nyh:hover img {
	opacity: 0.5;
	transform: translate(0, -10px);
	-webkit-transform: translate(0, -10px);
	-moz-transform: translate(0, -10px);
	-o-transform: translate(0, -10px);
	-ms-transform: translate(0, -10px);
}
.nyh figcaption h2 {
	margin: 15% 0 0 10%;
	transform: translate(0, 50px);
	-webkit-transform: translate(0, 50px);
	-moz-transform: translate(0, 50px);
	-o-transform: translate(0, 50px);
	-ms-transform: translate(0, 50px);
	opacity: 0;
	position: absolute;
}
.nyh figcaption p {
	margin-top: 270px;
	margin-left: 50%;
	margin-right: 0;
	transform: translate(0, 50px);
	opacity: 0;
	color: #f8f8ff;
	position: absolute;
	z-index: 9999;
}
.nyh:hover figcaption h2 {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
.nyh:hover figcaption p {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	opacity: 1;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
}
.js figcaption {
	width: 100%;
	height: 100%;
}

.js:hover img {
	opacity: 0.5;
	transform: translate(-50px, 0);
	-webkit-transform: translate(-50px, 0);
	-moz-transform: translate(-50px, 0);
	-o-transform: translate(-50px, 0);
	-ms-transform: translate(-50px, 0);
}

.js figcaption p {
	margin: 2% 0 0 15%;
	transform: translate(0, 50px);
	-webkit-transform: translate(0, 50px);
	-moz-transform: translate(0, 50px);
	-o-transform: translate(0, 50px);
	-ms-transform: translate(0, 50px);
	opacity: 0;
}
.js:hover figcaption p {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	opacity: 1;
}
.js figcaption h2 {
	margin: 5% 0 0 15%;
}
.jxl figcaption {
	top: 10%;
	left: 2%;
}
.jxl figcaption h2 {
	transform: skew(90deg);
	-webkit-transform: skew(90deg);
	-moz-transform: skew(90deg);
	-o-transform: skew(90deg);
	-ms-transform: skew(90deg);
}
.jxl figcaption p {
	transform: skew(90deg);
	-webkit-transform: skew(90deg);
	-moz-transform: skew(90deg);
	-o-transform: skew(90deg);
	-ms-transform: skew(90deg);
	margin-top: 10px;
}
.jxl:hover figcaption h2 {
	transform: skew(0deg);
	-webkit-transform: skew(0deg);
	-moz-transform: skew(0deg);
	-o-transform: skew(0deg);
	-ms-transform: skew(0deg);
}
.jxl:hover figcaption p {
	transform: skew(0deg);
	-webkit-transform: skew(0deg);
	-moz-transform: skew(0deg);
	-o-transform: skew(0deg);
	-ms-transform: skew(0deg);
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
.jxl:hover img {
	opacity: 0.5;
	transform: translate(0, -10px);
	-webkit-transform: translate(0, -10px);
	-moz-transform: translate(0, -10px);
	-o-transform: translate(0, -10px);
	-ms-transform: translate(0, -10px);
}
.tsg figcaption {
	width: 80%;
	height: 80%;
}
.tsg figcaption div.line1 {
	border-left: 1px solid #f8f8ff;
	border-right: 1px solid #f8f8ff;
	width: 100%;
	height: 110%;
	left: 10%;
	top: 5%;
	position: absolute;
	transform: scale(1, 0);
	-webkit-transform: scale(1, 0);
	-moz-transform: scale(1, 0);
	-ms-transform: scale(1, 0);
	-o-transform: scale(1, 0);
	opacity: 0;
}
.tsg figcaption div.line2 {
	border-top: 1px solid #f8f8ff;
	border-bottom: 1px solid #f8f8ff;
	width: 110%;
	height: 100%;
	left: 5%;
	top: 10%;
	position: absolute;
	transform: scale(0, 1);
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	-moz-transform: scale(0, 1);
	-o-transform: scale(0, 1);
	opacity: 0;
}
.tsg:hover figcaption div.line1 {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	opacity: 1;
}
.tsg:hover figcaption div.line2 {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	opacity: 1;
}
.tsg figcaption h2 {
	margin: 15% 8% 0 15%;
	transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
	-moz-transform: scale(0.8, 0.8);
	-o-transform: scale(0.8, 0.8);
	opacity: 0;
}
.tsg figcaption p {
	margin: 2% 0 0 15%;
	transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
	-moz-transform: scale(0.8, 0.8);
	-o-transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
	opacity: 0;
}
.tsg:hover figcaption h2 {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
.tsg:hover figcaption p {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	opacity: 1;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
}
.tsg img {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	opacity: 1;
}
.tsg:hover img {
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	opacity: 0.5;
}
.tsgn figcaption {
	width: 100%;
	height: 100%;
}
.tsgn figcaption h2 {
	margin: 2% 0 0 20%;
	transform: translate(0, 50px);
	-webkit-transform: translate(0, 50px);
	-moz-transform: translate(0, 50px);
	-o-transform: translate(0, 50px);
	-ms-transform: translate(0, 50px);
	opacity: 0;
}
.tsgn:hover figcaption h2 {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	opacity: 1;
}
.n3 figcaption {
	width: 100%;
	height: 100%;
}
.n3 figcaption div {
	background: #999;
	width: 370px;
	height: 100%;
	top: 238px;
	position: absolute;
	transform: translate(0, 120px) rotate(0deg);
	-webkit-transform: translate(0, 120px) rotate(0deg);
	-moz-transform: translate(0,120px) rotate(0deg);
	-o-transform: translate(0, 120px) rotate(0deg);
	-ms-transform: translate(0, 120px) rotate(0deg);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	opacity: 0.5;
}
.n3:hover figcaption div {
	transform: translate(0, 120px) rotate(-15deg);
	-webkit-transform: translate(0, 120px) rotate(-15deg);
	-moz-transform: translate(0, 120px) rotate(-15deg);
	-o-transform: translate(0, 120px) rotate(-15deg);
	-ms-transform: translate(0, 120px) rotate(-15deg);
	opacity: 0.9;
}
.n3:hover img {
	opacity: 0.5;
	transform: translate(0, -10px);
	-webkit-transform: translate(0, -10px);
	-moz-transform: translate(0, -10px);
	-o-transform: translate(0, -10px);
	-ms-transform: translate(0, -10px);
}
.n3 figcaption p {
	margin-top: 320px;
	margin-left: 130px;
	transform: translate(0, 50px);
	opacity: 0;
	color: #f8f8ff;
	position: absolute;
	z-index: 9999;
}
.n3:hover figcaption p {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	opacity: 1;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
}

.st:hover img {
	opacity: 0.5;
	transform: translate(0, -10px);
	-webkit-transform: translate(0, -10px);
	-moz-transform: translate(0, -10px);
	-o-transform: translate(0, -10px);
	-ms-transform: translate(0, -10px);
}
.st figcaption {
	width: 100%;
	height: 100%;
}
.st figcaption div {
    border: 2px solid #f8f8ff;
    border-radius: 10px;
	height: 68px;
	position: absolute;
	top: 10%;
	left: 10%;
    width: 168px;
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	opacity: 0;
}
.st:hover figcaption div {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	opacity: 1;
}
.st figcaption h2 {
	margin: 6% 0 0 15%;
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	opacity: 0;
}
.st figcaption {
	width: 100%;
	height: 100%;
}
.st:hover figcaption h2 {
	margin: 6% 0 0 15%;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	opacity: 1;
}
.ss figcaption {
	width: 100%;
	height: 100%;
}
.ss figcaption p{
	
	width: 336px;
	height: 100px;
	top: -300px;
	left: 100px;
	position: absolute;
	transform: translate(0, 350px) rotate(360deg);
	-webkit-transform: translate(0, 350px) rotate(360deg);
	-moz-transform: translate(0, 350px) rotate(360deg);
	-o-transform: translate(0, 350px) rotate(360deg);
	-ms-transform: translate(0, 350px) rotate(360deg);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	opacity: 0;
}
.ss:hover figcaption p {
	transform: translate(0, 350px) rotate(0deg);
	-webkit-transform: translate(0, 350px) rotate(0deg);
	-moz-transform: translate(0, 350px) rotate(0deg);
	-o-transform: translate(0, 350px) rotate(0deg);
	-ms-transform: translate(0, 350px) rotate(0deg);
	opacity: 0.9;
}
.ss:hover img {
	opacity: 0.6;
	transform: translate(-40px, 0);
	-webkit-transform: translate(-40px, 0);
	-moz-transform: translate(-40px, 0);
	-o-transform: translate(-40px, 0);
	-ms-transform: translate(-40px, 0);
}


.n4 figcaption p {
	background: #999;
	margin-top: 3px;
	text-align: center;
	line-height: 24px;
	height: 28px;
	transform: translate(-180px, 0);
	-webkit-transform: translate(-180px, 0);
	-moz-transform: translate(-180px, 0);
	-o-transform: translate(-180px, 0);
	-ms-transform: translate(-180px, 0);
}
.n4:hover figcaption p {
	transform: translate(-40px, 0);
	-webkit-transform: translate(-40px, 0);
	-moz-transform: translate(-40px, 0);
	-o-transform: translate(-40px, 0);
	-ms-transform: translate(-40px, 0);
}
.n4 figcaption p:nth-of-type(1) {
	transition-delay: 0.05s;
	-webkit-transition-delay: 0.05s;
	-moz-transition-delay: 0.05s;
	-o-transition-delay: 0.05s;
	-ms-transition-delay: 0.05s;
} /*：nth-of-type(n)为自动辨识同级别兄弟元素触发后的播放开始时间*/
.n4 figcaption p:nth-of-type(2) {
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
} /*：nth-of-type(n)为自动辨识同级别兄弟元素触发后的播放开始时间*/
.n4 figcaption p:nth-of-type(3) {
	transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
	-moz-transition-delay: 0.15s;
	-o-transition-delay: 0.15s;
	-ms-transition-delay: 0.15s;
} /*：nth-of-type(n)为自动辨识同级别兄弟元素触发后的播放开始时间*/
.n4:hover img {
	
	opacity: 0.5;
}